#Netbeans
nbproject/private
build/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml

#Files
.class

#Package Files
*.war
*.ear

#Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

#Linux
.*
!.gitignore
!.htaccess
*~

#Vim
.*.sw[a-z]
*.un~
Session.vim
.netrwhist